<section>
    <h1>Datos</h1>
    <div [class.text-danger]="tipo===false" [class.text-success]="tipo===true">{{mensaje}}</div>
    <form [formGroup]="miForm" (ngSubmit)="cargarDatos()">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" formControlName="username">
            @if(username?.touched && username?.hasError('required')){
            <div class="text-danger">El campo es requerido</div>
            }@else if(username?.touched && username?.hasError('minlength')){
            <div class="text-danger">El campo debe tener al menos 8 carácteres</div>
            }
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" formControlName="email">
            @if(email?.touched && email?.hasError('required')){
            <div class="text-danger">El campo es requerido</div>
            }@else if(email?.touched && email?.hasError('pattern')){
            <div class="text-danger">El email no es válido</div>
            }
        </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>
        <p>{{password}}</p>
        
    </form>
</section>