<section class="container">
    <h1 class="titulo">NUEVO USUARIO</h1>
    <form [formGroup]="miForm" (ngSubmit)="cargarDatos($event)">
        <div class="form-group p-3">
            <label class="mb-2" for="nombre">Nombre Usuario</label>
            <input type="text" class="form-control" id="nombre" placeholder="Introducir nombre" formControlName="nombre">
        </div>
        <div class="form-group p-3">
            <label class="mb-2" for="apellidos">Apellidos Usuario</label>
            <input type="text" class="form-control" id="apellidos" placeholder="Introducir apellidos" formControlName="apellidos">
        </div>
        <div class="form-group p-3">
            <label class="mb-2" for="email">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Introducir email" formControlName="email">
            <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu email.</small>
        </div>
        <div class="form-group p-3">
            <label class="mb-2" for="imagen">Imagen Usuario</label>
            <input type="text" class="form-control" id="imagen" placeholder="Introducir imagen" formControlName="imagen">
        </div>
        <button type="submit" class="btn btn-primary m-3" [disabled]="!miForm.valid">Guardar</button>
    </form>
</section>
