/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Segoe UI, Tahoma, Geneva, Verdana, sans-serif';
    font-size: 1em;
}
img{
    width: 100%;
    height: auto;
    display: block;
}
.contenedor{
    max-width: 1200px;
    margin:0 auto;
}
a{
    text-decoration: none;
    color:black;
}
ul{
    list-style-type: none;
}
