*{
  box-sizing: border-box;
  border: 0;
  padding: 0;
}

body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 100;

  margin:1rem 4rem;
}
img{
  width: 100%;
  height: auto;
  display: block;
}
.header{
  padding: 1rem 0;
  border-bottom: 1px solid rgb(143, 138, 138);
  margin-bottom:2rem;
}
.logo{
  font-weight: 700;
}
.icono{
  height: 2rem;
  width: 2rem;
}
.ofer{
  color:red;
  font-weight: 700;
}
.precio, .precio-producto{
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 2rem;
  margin-top: 2rem;
}
.iconos{
  display: flex;
  justify-content: space-between;
}
.footer{
  padding: 1rem 0;
  border-top: 1px solid rgb(143, 138, 138);
}

.navegacion{
  display: none;
}

.producto{
  margin: 2rem 0;
  height: 15rem;
  width: 90%;
  max-width: 220px;
  min-width: 200px;
  background-color:rgb(223, 216, 216);
  position:relative;
  align-items: center;
}
.prod1, .prod2, .prod3, .prod4{
  border: 1px solid rgb(143, 138, 138);
  padding: 1rem;
  margin: 0rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  
}
.off,.nuevo{
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: white;
}
.off{
  background-color: red;
}
.nuevo{
  background-color: blue;
}
.formulario input, .enviar{
  padding: .5rem;
  border-radius: .5rem;
  margin: .5rem 0;
}
.enviar{
  background-color: blue;
  color: white;
}
.enviar,.off,.nuevo{
  width: 5rem;
  text-align: center;
}
.participa{
  background-color: rgb(176, 202, 226);
  padding: 2rem;
}
.formulario{
  padding: 2rem;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  gap:2rem;
  align-items: center;
}
.iconos{
  flex-direction: column;
}
a.icono{
  color:black;
}
.imagen_oferta{
        width: 90%;
        min-width: 250px;
      }

.prods{
  display: flex;
  flex-direction: column;
  min-width: 250px;
}
.productos h2{
  margin-left: 1rem;
}
.formulario{
        display: flex;
        flex-direction: column;
      }
.imagen{
        display: flex;
        flex-direction: column;
        width: 33%;
        position: relative;
      }
span.capacidad{
        background-color: green;
        color: white;
        font-weight: bold;
        display: inline;
        width: 4rem;
        height: 2rem;
        text-align: center;
        position:absolute;
        padding-top: .3rem;
        left:1rem;
        top:1rem;
        
      }
.cantidad{
  border-bottom: 1px solid black;
  padding-bottom: 2rem;
}
.cantidad:last-child{
  border-bottom: none;
}
.input-number{
  height: 2rem;
  width: 3rem;
  text-align: center;
}
.exito{
  background-color: green;
  color: white;
  font-weight: bold;
  padding: 1rem;
}
.total{
  background-color: beige;
}

@media (min-width: 768px) {
      .layout {
        display:grid;
        grid-template-areas: 
        "header header header header"
        "main main main main"
        "prod1 prod2 prod3 prod4"
        "participa participa participa participa"
        "footer footer footer footer";
      }
      .header{
        grid-area: header;

        display:flex;
        /*position: fixed;*/
      }
      .main{
        grid-area: main;
        display: flex;
        justify-content:flex-start;
        gap: 2rem;
        
      }
      
      .imagen_oferta{
        background-color: rgb(223, 216, 216);
      }
      .oferta{
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
      }
      .iconos{
        flex-direction: row;
      }
      .prods{
        flex-direction: row;
      }
      .prod1{
        grid-area: prod1;
      }
      .prod2{
        grid-area: prod2;
      }
      .prod3{
        grid-area: prod3;
      }
      .prod4{
        grid-area: prod4;
      }
      .participa{
        grid-area: participa;
        display: flex;
        gap: 2rem;
      }
      .footer{
        grid-area: footer;
        text-align: center;
       
      }
      .navegacion{
        list-style: none;
        display: flex;
        flex-grow: 1;
        justify-content: right;
        gap: 2rem;
        position: relative;
      }
      .navegacion a, a.log{
        text-decoration: none;
        color: black;
      }
      .navegacion a:hover {
        border-radius: 0.5rem;
        border: 1px solid rgb(126, 119, 119);
        padding: .5rem;
        margin: .5rem;
      }
      .carrito svg{
        height: 2rem;
        width: 2rem;
      }
      .contenedor-carrito{
        display: flex;
        flex-direction: column;
        text-align: center;
        position:absolute;
        top: -2rem;
        right:-3rem;
      }
      .contenedor-carrito p{
        padding: 0;
        border: 0;
      }      
    }