*{
  box-sizing: border-box;
}

body{
  border:0;
}

.verde{
  background-color: green;
  color:white;
}
.azul{
  background-color: blue;
  color:white;
}
.amarillo{
  background-color: yellow;
}
.rojo{
  background-color: red;
  color:white;
}