*{
  box-sizing: border-box;
}

body{
  border:0;
  padding: 0;
}

.verde{
  background-color: green;
  color:white;
}
.azul{
  background-color: blue;
  color:white;
}
.amarillo{
  background-color: yellow;
}
.rojo{
  background-color: red;
  color:white;
}
#tablas{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tabla{
  padding: 5px;
  border: 1px solid black;
  padding-right: 3rem;
  
}
ul{
  list-style-type: none;
  
}