<h2>Observables</h2>
<ul>
    @for(usuario of misUsuariosObservable; track usuario.id){
        <li>{{usuario.name}} - {{usuario.email}}</li>
    }
</ul>
<hr>
<h2>Promesas</h2>
<ul>
    @for(usuario of misUsuariosPromise; track usuario.id){
        <li>
            {{usuario.name}} - {{usuario.email}}
            <google-map width="300px" height="300px" [zoom]="2" [center]="getPosition(usuario.address.geo)">
                <map-marker #miMarker="mapMarker" [position]="getPosition(usuario.address.geo)"></map-marker>
            </google-map>
        </li>
    }
</ul>