<section class="contenedor">
    <form action="" #formUser="ngForm" (ngSubmit)="cargarDatos(formUser)">
        <div>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" ngModel>
        </div>
        <div>
            <label for="apellidos">Apellidos</label>
            <input type="text" name="apellidos" id="apellidos" ngModel>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" ngModel>
        </div>
        <div>
            <label for="telefono">Telefono</label>
            <input type="number" name="telefono" id="telefono" ngModel>
        </div>
        <input type="submit" value="Enviar">
    </form>
</section>
