<section class="contenedor">
    <h1>Mi Blog de Noticias</h1>
    <form [formGroup]="miFormulario" (ngSubmit)="cargarDatos($event)">
        {{miFormulario.valid}}
        <div>
            <label for="titulo">Titulo</label>
            <input type="text" id="titulo" placeholder="Ej: Inauguración Semana de la Proximidad" formControlName="titulo">
        </div>
        <div>
            <label for="imagen">Imagen</label>
            <input type="text" id="imagen" placeholder="Ej: /imgs/noticia3.webp" formControlName="imagen">
        </div>
        <div>
            <label for="noticia">Noticia</label>
            <textarea id="noticia" rows="10" formControlName="noticia"></textarea>
        </div>
        <div>
            <label for="fecha">Fecha</label>
            <input type="date" id="fecha" formControlName="fecha">
        </div>
        <input type="submit" value="Enviar" [disabled]="!miFormulario.valid">
    </form>
</section>
<section class="contenedor">
    @for(post of misPosts; track post.titulo){
    <article>
        <h2>{{post.titulo}}</h2>
        <figure>
            <img [src]="post.imagen" [alt]="'Imagen de '+ post.titulo">
        </figure>
        <p class="noticia">{{post.noticia}}</p>
        <span>{{post.fecha}}</span><!--  | date:'dd-MM-yyyy' -->
    </article>
    }
</section>