.contenedor{
    max-width: 1004px;
    margin: 0 auto;
    padding: 2rem 0;
}

label,input,textarea{
    width: 100%;
    margin:5px 0px;
    padding: 5px;
}

figure{
    max-width: 1200px;
}
h1,h2{
    margin:1rem 0;
}
.noticia{
    margin:1rem 0;
}
/*
figure img{
    width: 100%;
    height: auto;
    display: inline;
}
*/
.exito{
    background-color: green;
    color:white;
}

.error{
    background-color: red;
    color:white;
}