.contenedor{
    max-width: 1004px;
    margin: 0 auto;
}

label,input,textarea{
    width: 100%;
    margin:5px 0px;
    padding: 5px;
}

figure{
    max-width: 1800px;
}

figure img{
    width: 100%;
    height: auto;
    display: inline;
}