<h1>Mi Blog de Noticias</h1>
<section class="contenedor">
    <form [formGroup]="miFormulario" (ngSubmit)="cargarDatos()">
        <div>
            <label for="titulo">Titulo</label>
            <input type="text" id="titulo" formControlName="titulo">
        </div>
        <div>
            <label for="imagen">Imagen</label>
            <input type="text" id="imagen" formControlName="imagen">
        </div>
        <div>
            <label for="noticia">Noticia</label>
            <textarea id="noticia" rows="10" formControlName="noticia"></textarea>
        </div>
        <div>
            <label for="fecha">Fecha</label>
            <input type="date" id="fecha" formControlName="fecha">
        </div>
        <input type="submit" value="Enviar" [disabled]="!miFormulario.valid">
    </form>
</section>
<section>
    <article>
        <h2>Este es el título</h2>
        <figure>
            <img src="imgs/imagen1.jpeg" alt="Imagen del blog">
        </figure>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quibusdam, alias quas voluptatibus dolorum cum ex provident enim vitae. Fugiat sint consequuntur earum. Autem possimus libero doloribus facilis aliquam sunt! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quibusdam, alias quas voluptatibus dolorum cum ex provident enim vitae. Fugiat sint consequuntur earum. Autem possimus libero doloribus facilis aliquam sunt! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quibusdam, alias quas voluptatibus dolorum cum ex provident enim vitae. Fugiat sint consequuntur earum. Autem possimus libero doloribus facilis aliquam sunt! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quibusdam, alias quas voluptatibus dolorum cum ex provident enim vitae. Fugiat sint consequuntur earum. Autem possimus libero doloribus facilis aliquam sunt!</p>
        <span>29/11/2025</span>
    </article>
</section>