<section class="contenedor">
    <h1>Cambiar la economía para cambiar el mundo</h1>
    <article>
        <h2>¿Quiénes somos?</h2>
        <p>Somos una organización sin ánimo de lucro que trabaja para impulsar una nueva economía basada en criterios de sostenibilidad, justicia y colaboración, que cuide de las personas y del planeta.</p>
        <p>Nos presentamos. Nuestro nombre es Fundación Blog de Noticias de Nueva Economía e Innovación Social, pero preferimos que nos tutees y nos llames Blog Noticias.</p>
    </article>
    <article>
        <h2>¿Cuál es nuestro propósito?</h2>
        <p>Trabajamos para co-crear una nueva economía más sostenible, justa y colaborativa, que dé solución a problemas sociales y ambientales, y esté al servicio de las personas y del planeta.</p>
        <p>Ambicioso, lo sabemos, pero también alcanzable y necesario. Sólo depende de nosotros, de ti, de mí, de la capacidad de elección y decisión de cada persona.</p>
        <p>Y ahora te preguntamos … ¿Qué legado les quieres dejar a las futuras generaciones? </p> 
    </article>
    <article>
        <h2>¿Qué hacemos?</h2>
        <p>Conectar a personas y organizaciones para impulsar propuestas innovadoras con el fin de construir una economía más justa y sostenible.</p>
        <p>Por eso nos gusta decir que “somos conectores y multiplicadores” de personas, ideas y propuestas concretas. Estas propuestas las hacemos llegar, a través de informes técnicos y campañas de concienciación, a gobiernos, organismos internacionales, empresas y ciudadanía para generar una transformación social, económica y política.</p>  
    </article>
    <article>
        <h2>¿Qué nos hace diferentes?</h2>
        <p>Ser una comunidad comprometida que actúa como un think tank (laboratorio de ideas) con la visión holística de conectar y promover la colaboración entre una amplia y diversa red de personas y entidades que a nivel mundial trabajan por el bien común.</p>  
    </article>
    <article>
        <h2>¿Qué queremos alcanzar?</h2>
        <p>Aspiramos a ser escuchados y consultados por administraciones públicas, gobiernos, medios de comunicación, empresas y ciudadanía. De este modo, actuando como el más exitoso de los influencers, generar cambios reales que beneficien a las personas y el planeta.</p> 
    </article>

</section>