img{
    border-radius: 100%;
}
.nombre{
    text-align: center;
}
.iconos a{
        text-decoration: none;
        color:black;
    }
.icono svg{
        width: 2rem;
        height: 2rem;
    }
@media screen and (min-width: 768px) {
    
    .iconos{
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
    
    
    
}